<mdb-card>
    <mdb-card-header class="purple darken-3 text-white"><h5>Stats</h5></mdb-card-header>
    <mdb-card-body class="text-dark">
        Total games: {{this.stats.total}}<br><br>
        <span class="text-success">Wins</span>: {{this.stats.wins}} ({{(100 * this.stats.wins / this.stats.total).toFixed(1)}}%)<br>
        Draws: {{this.stats.draws}} ({{(100 * this.stats.draws / this.stats.total).toFixed(1)}}%)<br>
        <span class="text-danger">Loses</span>: {{this.stats.loses}} ({{(100 * this.stats.loses / this.stats.total).toFixed(1)}}%)<br><br>
        Ongoing: {{this.stats.ongoing}}
    </mdb-card-body>
</mdb-card>
