<div class="game-section">
    <div class="row justify-content-center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <mdb-card class="text-center">
                <mdb-card-header>
                    <h4>Game #{{gameId}} ( {{game.whitePlayer.username}} {{game.finished ? game.result : '-'}} {{game.blackPlayer.username}} )</h4>
                </mdb-card-header>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-lg-8 col-md-10">
                            <table class="table table-borderless">
                                <tbody *ngIf="board !== null">
                                <tr *ngFor="let rank of color === 'black' ? [7, 6, 5, 4, 3, 2, 1, 0] : [0, 1, 2, 3, 4, 5, 6, 7]">
                                    <th scope="row" class="align-middle">{{8 - rank}}</th>
                                    <td *ngFor="let file of color === 'black' ? [7, 6, 5, 4, 3, 2, 1, 0] : [0, 1, 2, 3, 4, 5, 6, 7]"
                                        class="square {{(rank + file) % 2 == 1 ? 'square-dark' : 'square-light'}} align-middle"
                                        (click)="click($event, rank, file)">

                                        <div *ngIf="fromRank === rank && fromFile === file" class="square-selected align-middle">
                                            <fa-icon *ngIf="charToIcon(board[rank][file])"
                                                     [icon]="charToIcon(board[rank][file])"
                                                     class="{{isWhite(rank, file) ? 'text-white' : 'text-dark'}} piece"
                                                     size="4x"></fa-icon>
                                        </div>
                                        <fa-icon *ngIf="charToIcon(board[rank][file]) && (fromRank !== rank || fromFile !== file)"
                                                 [icon]="charToIcon(board[rank][file])"
                                                 class="{{isWhite(rank, file) ? 'text-white' : 'text-dark'}} piece"
                                                 size="4x"></fa-icon>

                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th scope="col"></th>
                                    <th *ngFor="let file of color === 'black' ?
                                        ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'] :
                                        ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']"
                                        scope="col">{{file}}</th>
                                </tr>
                                </tfoot>
                            </table>
                            <!-- Modal Promotion -->
                            <div
                                class="modal fade"
                                id="modalPromotion"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-footer justify-content-center  bg-color-danger">
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button *ngFor="let piece of ['N', 'B', 'R', 'Q']" mdbBtn
                                                        type="button"
                                                        color="white"
                                                        class="waves-light"
                                                        mdbWavesEffect
                                                        (click)="promoteTo(piece)"
                                                >
                                                    <fa-icon [icon]="charToIcon(piece)"
                                                             size="2x"
                                                             class="{{color === 'white' ? 'text-white' : 'text-dark'}} piece"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-2">
                            <mdb-card class="control-panel grey text-white">
                                <mdb-card-header>
                                    <h4>
                                        <fa-icon [icon]="faCircle" class="text-white" size="1x"></fa-icon>
                                        {{game.whitePlayer.username}}
                                        <fa-icon [icon]="faCircle" class="text-dark" size="1x"></fa-icon>
                                        <span class="text-dark"> {{game.blackPlayer.username}}</span>
                                    </h4>
                                </mdb-card-header>
                                <mdb-card-body class="text-white">
                                    <mdb-card-text *ngIf="isPlayer() && !game.finished">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button mdbBtn
                                                    type="button"
                                                    color="yellow"
                                                    class="waves-light"
                                                    mdbWavesEffect
                                                    (click)="offerDraw()"
                                                    [disabled] = "drawOfferByCurrentPlayer || !drawOffer.empty"
                                            ><fa-icon [icon]="faHandshake" class="text-white" size="2x"></fa-icon></button>
                                            <button mdbBtn
                                                    type="button"
                                                    color="danger"
                                                    class="waves-light"
                                                    mdbWavesEffect
                                                    (click)="resign()"
                                            ><fa-icon [icon]="faFlag" class="text-white" size="2x"></fa-icon></button>
                                        </div><br><br>

                                        <div *ngIf="!drawOfferByCurrentPlayer && !drawOffer.empty" class="text-white">
                                            {{getOpponent().username}} offered draw
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <button mdbBtn
                                                        type="button"
                                                        color="green"
                                                        class="waves-light btn-sm"
                                                        mdbWavesEffect
                                                        (click)="offerDraw()"
                                                        [disabled] = "drawOfferByCurrentPlayer"
                                                >
                                                    <fa-icon [icon]="faCheck"></fa-icon>
                                                </button>
                                                <button mdbBtn
                                                        type="button"
                                                        color="danger"
                                                        class="waves-light btn-sm"
                                                        mdbWavesEffect
                                                        (click)="declineDraw()"
                                                >
                                                    <fa-icon [icon]="faTimes"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </mdb-card-text>
                                    <div class="">
                                        <div *ngFor="let move of moves; index as moveNo" class="btn-group pb-0" role="group" aria-label="Moves">
                                            <button mdbBtn color="white" class="btn-sm btn-move" disabled>{{moveNo + 1}}.</button>
                                            <button mdbBtn *ngIf="move.length > 0" color="white" class="btn-sm btn-move">{{move[0]}}</button>
                                            <button *ngIf="move.length === 0" mdbBtn color="dark" class="btn-sm btn-move" disabled></button>
                                            <button *ngIf="move.length > 1" mdbBtn color="white" class="btn-sm btn-move">{{move[1]}}</button>
                                            <button *ngIf="move.length <= 1" mdbBtn color="dark" class="btn-sm btn-move" disabled></button>
                                        </div>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>
                </mdb-card-body>
                <mdb-card-footer class="text-muted">
                    <h4>Game #{{gameId}} ( {{game.whitePlayer.username}} {{game.finished ? game.result : '-'}} {{game.blackPlayer.username}} )</h4>
                </mdb-card-footer>
            </mdb-card>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
