.control-panel {
    height: 100%;
    box-shadow: none !important;
}

.moves {
    max-height: 402px;
}

.draw-panel {
    height: 60px;
}

.analysis-panel {
    height: 60px;
}

.btn-control {
    display: block;
    width: 50% !important;
    height: 60px !important;
    max-height: 100% !important;
    max-width: 149px !important;
    border-radius: 0;
}

.btn-analyse {
    max-height: 292px;
}

.btn-move {
    width: 90px;
    height: 31px;
    max-height: 31px;
    text-transform: unset !important;
}
