<div class="profile">
    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mdb-card>
                <mdb-card-header><h4>@{{username}}</h4></mdb-card-header>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12">
                                    <mdb-card>
                                        <mdb-card-header><h5>Rating history</h5></mdb-card-header>
                                        <mdb-card-body>
                                            <chart [type]="type" [data]="data" [options]="options"></chart>
                                        </mdb-card-body>
                                    </mdb-card>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-6">
                                    <mdb-card>
                                        <mdb-card-header><h5>Stats</h5></mdb-card-header>
                                        <mdb-card-body>
                                            Total games: {{this.stats.total}}<br><br>
                                            <span class="text-success">Wins</span>: {{this.stats.wins}} ({{(100 * this.stats.wins / this.stats.total).toFixed(1)}}%)<br>
                                            Draws: {{this.stats.draws}} ({{(100 * this.stats.draws / this.stats.total).toFixed(1)}}%)<br>
                                            <span class="text-danger">Loses</span>: {{this.stats.loses}} ({{(100 * this.stats.loses / this.stats.total).toFixed(1)}}%)<br><br>
                                            Ongoing: {{this.stats.ongoing}}
                                        </mdb-card-body>
                                    </mdb-card>
                                </div>
                                <div class="col-6">
                                    <mdb-card>
                                        <mdb-card-header><h5>Challenges</h5></mdb-card-header>
                                        <mdb-card-body>
                                            <ul class="list-group">
                                                <li *ngFor="let challenge of challenges" class="list-group-item">
                                                    {{challenge.from.username}}
                                                    <button mdbBtn
                                                            type="button"
                                                            class="waves-light btn-sm success-color-dark text-white"
                                                            mdbWavesEffect
                                                            (click)="acceptChallenge(challenge)">
                                                        Accept
                                                    </button>
                                                    <button mdbBtn
                                                            type="button"
                                                            class="waves-light btn-sm danger-color-dark text-white"
                                                            mdbWavesEffect
                                                            (click)="declineChallenge(challenge)">
                                                        Decline
                                                    </button>
                                                </li>
                                            </ul>
                                        </mdb-card-body>
                                    </mdb-card>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <mdb-card>
                                <mdb-card-header><h5>Games</h5></mdb-card-header>
                                <mdb-card-body>
                                    <ul class="list-group">
                                        <li *ngFor="let game of games"
                                            class="list-group-item list-group-item-{{game.finished ?
                                                    (game.result === '1/2-1/2' ? 'warning' :
                                                        ((game.result === '1-0' && game.whitePlayer.username === username) ||
                                                         (game.result === '0-1' && game.blackPlayer.username === username) ? 'success' : 'danger'))
                                                    : 'white'}}">
                                            {{game.whitePlayer.username}} {{game.finished ? game.result : '-'}} {{game.blackPlayer.username}}
                                            <a class="btn btn-sm text-white {{game.finished ? 'indigo' : 'green'}}"
                                               href="/game/{{game.id}}"
                                               role="button">{{game.finished ? "Watch" : "Play"}}</a>
                                            <!--                                            <button mdbBtn-->
                                            <!--                                                    type="button"-->
                                            <!--                                                    color="dark-yellow"-->
                                            <!--                                                    class="waves-light btn-sm text-white"-->
                                            <!--                                                    mdbWavesEffect-->
                                            <!--                                                    (click)="analyze(game)">-->
                                            <!--                                                Analyze-->
                                            <!--                                            </button>-->
                                        </li>
                                    </ul>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
